header{
    max-width: 100vw;
    min-height: 80vh;
    #header_top{
        max-width: 100vw;
        min-height: 5vh;
        background-color: rgb(228, 228, 228);
        display: flex;
        align-items: center;
        justify-content: center;

        .header_top_main{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            &_left{
                width: 30%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                font-size: 16px;
                p{
                   color: gray;
                }
            }
            .line{
                height: 1.5vh;
                border-left: 1px solid black;
            }
            &_right{
                width: 34%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 50px;
                &_icons{
                    width: 30%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    font-size: 20px;
                    i{
                        cursor: pointer;
                    }
                }
                &_language{
                    width: 40%;
                    height: 80%;
                    background-color: initial;
                    border-left: 1px solid black;
                    border-right: 1px solid black;
                    padding: 0, 10px;
                    &_eng{
                        width: 100%;
                        height: 100%;
                        
                        position: relative;
                        &_image{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            img{
                                width: 27px;
                                height: 17px;
                            }
                            p{
                                font-size: 14px;
                                font-family: sans-serif;
                            }
                            i{
                                font-size: 17px;
                            }
                        }

                        &:hover{
                            cursor: pointer;
                            .header_top_main_right_language_eng{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                            }
                            .header_top_main_right_language_spn{
                                display: block;
                            }
                        }
                    }
                    &_spn{
                        width: 100%;
                        height: 40px;
                        color: white;
                        background-color: rgb(85, 85, 85);
                        padding: 4px;
                        display: none;
                        position: absolute;
                    }

                }
                &_user{
                    width: 15%;
                    margin-right: 15px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    cursor: pointer;
                }
            }
        }
    }
    #header_nav{
        .header_nav_main{
            max-width: 100vw;
            min-height: 8vh;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            &_image{
                width: 250px;
                height: 80px;
                display: flex;
                align-items: center;
                img{
                    cursor: pointer;
                }
            }
            &_pages{
                ul{
                    width: 550px;
                    height: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    li{
                        font-size: 14px;
                        color: #252525;
                        text-transform: uppercase;
                        font-weight: 700;
                        letter-spacing: 2px;
                        &:hover{
                            color: #7fad39;
                            cursor: pointer;
                        }
                    }
                    .home{
                        color: #7fad39;
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: 700;
                        letter-spacing: 2px;
                        cursor: pointer;
                    }
                }
            }
            &_icon{
                width: 250px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: end;
                .fa-heart{
                    width: 30px;
                    height: 20px;
                    position: relative;
                    .bir{
                        width: 16px;
                        height: 16px;
                        font-size: 12px;
                        border-radius: 50%;
                        background-color: #7fad39;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: -9px;
                        right: 0px;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
                .fa-bag-shopping{
                    width: 30px;
                    height: 20px;
                    position: relative;
                    .uc{
                        width: 16px;
                        height: 16px;
                        font-size: 12px;
                        border-radius: 50%;
                        background-color: #7fad39;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: -9px;
                        right: 0px;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
                i{
                    font-size: 18px;
                    margin-right: 15px;
                    p{
                        font-size: 14px;
                        color: white;
                    }
                }
                p{
                    span{
                        font-weight: 800;
                        font-size: 20px;
                        color: #252525;
                    }
                }
            }
        }
    }
    #header_main{
        max-width: 100vw;
        min-height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .header_main_selector{
            width: 260px;
            height: 500px;
            &_buton{
                width: 100%;
                height: 50px;
                background-color: #7fad39;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                font-size: 18px;
                font-weight: 700;
                color: white;
                cursor: pointer;
            }
            &_options{
                width: 100%;
                
                display: flex;
                flex-direction: column;
                padding-left: 40px;
                .none{
                    height: 450px;
                }
                ul{
                    margin-top: 20px;
                    height: 0px;
                   
                    display: flex;  
                    flex-direction: column;
                    gap: 20px;
                 
                    li{
                        width: 100%;
                        cursor: pointer;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
