* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

::selection {
  background-color: hotpink;
  color: white;
}

header {
  max-width: 100vw;
  min-height: 80vh;
}
header #header_top {
  max-width: 100vw;
  min-height: 5vh;
  background-color: rgb(228, 228, 228);
  display: flex;
  align-items: center;
  justify-content: center;
}
header #header_top .header_top_main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header #header_top .header_top_main_left {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
}
header #header_top .header_top_main_left p {
  color: gray;
}
header #header_top .header_top_main .line {
  height: 1.5vh;
  border-left: 1px solid black;
}
header #header_top .header_top_main_right {
  width: 34%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}
header #header_top .header_top_main_right_icons {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}
header #header_top .header_top_main_right_icons i {
  cursor: pointer;
}
header #header_top .header_top_main_right_language {
  width: 40%;
  height: 80%;
  background-color: initial;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0, 10px;
}
header #header_top .header_top_main_right_language_eng {
  width: 100%;
  height: 100%;
  position: relative;
}
header #header_top .header_top_main_right_language_eng_image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header #header_top .header_top_main_right_language_eng_image img {
  width: 27px;
  height: 17px;
}
header #header_top .header_top_main_right_language_eng_image p {
  font-size: 14px;
  font-family: sans-serif;
}
header #header_top .header_top_main_right_language_eng_image i {
  font-size: 17px;
}
header #header_top .header_top_main_right_language_eng:hover {
  cursor: pointer;
}
header #header_top .header_top_main_right_language_eng:hover .header_top_main_right_language_eng {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header #header_top .header_top_main_right_language_eng:hover .header_top_main_right_language_spn {
  display: block;
}
header #header_top .header_top_main_right_language_spn {
  width: 100%;
  height: 40px;
  color: white;
  background-color: rgb(85, 85, 85);
  padding: 4px;
  display: none;
  position: absolute;
}
header #header_top .header_top_main_right_user {
  width: 15%;
  margin-right: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
header #header_nav .header_nav_main {
  max-width: 100vw;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header #header_nav .header_nav_main_image {
  width: 250px;
  height: 80px;
  display: flex;
  align-items: center;
}
header #header_nav .header_nav_main_image img {
  cursor: pointer;
}
header #header_nav .header_nav_main_pages ul {
  width: 550px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header #header_nav .header_nav_main_pages ul li {
  font-size: 14px;
  color: #252525;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
header #header_nav .header_nav_main_pages ul li:hover {
  color: #7fad39;
  cursor: pointer;
}
header #header_nav .header_nav_main_pages ul .home {
  color: #7fad39;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
}
header #header_nav .header_nav_main_icon {
  width: 250px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: end;
}
header #header_nav .header_nav_main_icon .fa-heart {
  width: 30px;
  height: 20px;
  position: relative;
}
header #header_nav .header_nav_main_icon .fa-heart .bir {
  width: 16px;
  height: 16px;
  font-size: 12px;
  border-radius: 50%;
  background-color: #7fad39;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -9px;
  right: 0px;
}
header #header_nav .header_nav_main_icon .fa-heart:hover {
  cursor: pointer;
}
header #header_nav .header_nav_main_icon .fa-bag-shopping {
  width: 30px;
  height: 20px;
  position: relative;
}
header #header_nav .header_nav_main_icon .fa-bag-shopping .uc {
  width: 16px;
  height: 16px;
  font-size: 12px;
  border-radius: 50%;
  background-color: #7fad39;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -9px;
  right: 0px;
}
header #header_nav .header_nav_main_icon .fa-bag-shopping:hover {
  cursor: pointer;
}
header #header_nav .header_nav_main_icon i {
  font-size: 18px;
  margin-right: 15px;
}
header #header_nav .header_nav_main_icon i p {
  font-size: 14px;
  color: white;
}
header #header_nav .header_nav_main_icon p span {
  font-weight: 800;
  font-size: 20px;
  color: #252525;
}
header #header_main {
  max-width: 100vw;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #header_main .header_main_selector {
  width: 260px;
  height: 500px;
}
header #header_main .header_main_selector_buton {
  width: 100%;
  height: 50px;
  background-color: #7fad39;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
header #header_main .header_main_selector_options {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
header #header_main .header_main_selector_options .none {
  height: 450px;
}
header #header_main .header_main_selector_options ul {
  margin-top: 20px;
  height: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header #header_main .header_main_selector_options ul li {
  width: 100%;
  cursor: pointer;
  font-size: 20px;
}/*# sourceMappingURL=main.css.map */